img {
    width: 100%;
}


section {
    max-width: 1200px;
    margin: 0 auto;

}

* {
    box-sizing: border-box;

}

body,
html {
    background-color: #163849;
    height: 100%;
    margin: 0;
}

h1 {
    /*
    font-family: 'Tangerine', cursive;
    font-size: 10vw;
    padding: 1vw 0 2vw 35vw;
    color: #5E7A8B;
    text-shadow: 2px 2px #0B2433;
*/


}

#tema1,
#tema2,
#tema3,
#tema4 {
    border-bottom-style: solid;
}

h2 {
    /*
    font-family: 'Open-Sans', sans-serif;
    padding: 2vw 0 2vw 10vw;
    color: #C3B299;
    font-family: 'Montserrat';
*/
}

p {
    font-family: 'Open-Sans', sans-serif;
}


/********** HEADER ************/

.myheader h1 {
    margin: 0;
    padding: 3vw 0 1vw 2vw;
    font-family: 'Poiret One', cursive;

}

.myheader h2 {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    font-size: 3vw;
    padding: 0vw 0 0vw 2vw;
}

.myheader img {
    display: inline-block;
}


.myheader {
    display: block;
    background-color: #899EAA;
    background-image: linear-gradient(white, #899EAA);
    height: 15vw;
    text-align: center;
}

@media screen and (min-width: 600px) {
    .myheader {
        height: 12vw;

    }

    .myheader .text-box {
        text-align: center;
    }

    .myheader h1 {
        font-size: 3vw;
    }

    .myheader h2 {
        margin: 0.5vw 0 0 0;
        font-size: 2vw;
    }

    .myheader figure {
        position: relative;
        left: 18vw;
        top: 5vw;
        width: 70%;
    }

    .myheader img {
        display: block;
        max-width: 50%;
    }


}

.myheader img {
    border-radius: 50%;
    width: 13%;
    position: relative;
    bottom: 15vw;
    left: 65vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/********* NAVBAR **********/

.show-menu {
    background-color: rgba(0, 0, 0, 0.5);
    color: #F4F4F1;
    border-radius: 5px;
    position: fixed;
    top: 2vw;
    right: 0;
    padding: 1px 9px;
    margin: 1vw;
    font-size: 35px;
    z-index: 1001;
    transition: 1s;
}

.hide-menu {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 1000;
    display: none;
    transition: 1s;
}

nav.menubar {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    right: 1vw;
    top: 12.1vw;
    width: 50%;
    display: none;
    z-index: 1002;
    text-align: right;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 20px;
}

nav.menubar a {
    color: #F4F4F1;
    display: block;
    padding: 15px;
    text-decoration: none;
    font-family: 'Open-Sans', sans-serif;
    font-size: 19px;
    transition: 0.5s;

}

nav.menubar a:hover {
    background-color: #F4F4F1;
    color: #5E7A8B;
    border-color: #F7D08A;

}



#toggle-menu {
    display: none;
}

#toggle-menu:checked ~ nav.menubar {
    display: block;
}

#toggle-menu:checked ~ .hide-menu {
    display: block;
}


@media screen and (min-width: 600px) {

    .show-menu,
    .hide-menu {
        display: none;
    }



    nav.menubar {
        display: inline-block;
        position: absolute;
        padding: 0 2vw 0 0;
        width: 60%;
        top: 12vw;
        right: 20vw;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 20px;

    }


    nav.menubar a {
        display: inline-block;

    }

    nav.menubar li {}
}


/********** OM MIG **********/

#cv .container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid lightgrey;
    margin: 3vw;

}

#cv .column_left {
    background-color: #5E7A8B;
    padding: 2vw;
    flex-grow: 1;
    flex-basis: 200px;

}

#cv img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 60%;
    flex-grow: 3;
    flex-basis: 500px;
    border-style: solid;
}

#cv .text-box {
    background-color: lightgray;
    color: #5E7A8B;
    max-width: 50%;
    max-width: 600px;
    flex-grow: 1;
    flex-basis: 300px;
    text-align: center;
    padding: 2vw;
}

#cv .list {
    padding: 7vw 0 0 18vw;
}

#cv li {
    padding: 2vw;
    font-family: 'Montserrat';
    color: lightgray;
}

@media screen and (min-width: 800px) {
    #cv .container {
        flex-direction: row;
        justify-content: center;
    }

    #cv .list {
        padding: 0;
    }
}

#cv .list2 {
    background-color: #95A4AC;
    color: lightgray;
}

#cv p {
    font-family: 'Montserrat';
    color:
}

/******** TEMA 1 ************/

#tema1 .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-bottom: 1px solid #C3B299;
    padding: 0 0 5vw 0;
    background-color: #E1E6E9;
    color: #5E7A8B;
    border-radius: 1vw;


}

#tema1 .column_left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 2;
    flex-basis: 200px;
    margin: 1vw;

}



#tema1 .column_top {
    display: inline-block;
    flex-grow: 1;
    flex-basis: 400px;

    border: 2vw;
    padding: 0 3vw 2vw;
}

#tema1 .column_middle {
    color: #5E7A8B;
    flex-grow: 1;
    flex-basis: 300px;
    border-radius: 1vw;
    padding: 0 3vw 2vw;
    margin: 2vw;
}

#tema1 .column_bottom a {
    text-decoration: none;
    background-color: lightgray;
    color: #5E7A8B;
    font-family: 'Open-Sans', sans-serif;
    font-size: 15px;
    text-align: center;
    display: block;
    border-radius: 1vw;
    max-width: 10vw;
    margin: 1vw;
    padding: 0.5vw;

}

#tema1 .column_bottom a:hover {
    text-decoration: none;
    background-color: #F7D08A;
    color: #FAF3DD;

}

#tema1 .column_bottom {
    color: #5E7A8B;
    flex-grow: 1;
    flex-basis: 300px;
    border-radius: 1vw;
    padding: 0 3vw 2vw;
}

#tema1 .column_slideshow {
    color: #FAF3DD;
    flex-grow: 2;
    flex-basis: 300px;
    border-radius: 1vw;
    border: 5vw;
    padding: 2vw;
    margin: 1vw;
    max-width: 500px;

}

.slideshow_moodboard {
    width: 100%;
    padding-bottom: 80%;
    padding-left: 5%;
    position: relative;

}

.slideshow_moodboard img {
    position: absolute;
    animation: slideshow_animation_mood 15s infinite;
    opacity: 1;
    width: 100%;
    flex-grow: 1;
    flex-basis: 500px;
    max-width: 400px;

}

@keyframes slideshow_animation_mood {
    25% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }
}


.slideshow_moodboard img:nth-child(1) {
    animation-delay: 5s;
}

.slideshow_moodboard img:nth-child(2) {
    animation-delay: 10s;
}


.slideshow_photoshop {
    width: 100%;
    height: 0px;
    padding-bottom: 60%;
    position: relative;
    margin: 2vw;

}

.slideshow_photoshop img {
    position: absolute;
    animation: slideshow_animation 25s infinite;
    opacity: 0;
    width: 100%;
    height: auto;
    flex-grow: 1;
    flex-basis: 500px;
    max-width: 400px;

}

@keyframes slideshow_animation {
    25% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }
}

.slideshow_photoshop img:nth-child(1) {
    animation-delay: 0s;
}

.slideshow_photoshop img:nth-child(2) {
    animation-delay: 5s;
}

.slideshow_photoshop img:nth-child(3) {
    animation-delay: 10s;
}

.slideshow_photoshop img:nth-child(4) {
    animation-delay: 15s;
}

.slideshow_photoshop img:nth-child(5) {
    animation-delay: 20s;
}


.slideshow_ikon {
    width: 80%;
    padding-bottom: 70%;
    padding-left: 20%;
    position: relative;
    overflow: hidden;


}

.slideshow_ikon img {
    position: absolute;
    animation: slideshow_animation_mood 15s infinite;
    opacity: 1;
    width: 100%;
    height: auto;
    flex-grow: 1;
    flex-basis: 500px;
    max-width: 300px;


}

.slideshow_ikon img:nth-child(2) {
    animation-delay: 5s;
}

.slideshow_ikon img:nth-child(1) {
    animation-delay: 10s;
}


/******** TEMA 2 *********/


#tema2 .container {
    color: #5E7A8B;
    flex-direction: row;

}

#tema2 .column_top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 1;
    flex-basis: 400px;
    justify-content: space-between;
    background-color: #E1E6E9;
    border-radius: 1vw;
}

#tema2 .column_topleft {
    padding: 2vw;
}

#tema2 .column_topright {
    padding: 2vw;
}

@media screen and (min-width: 800px) {
    #tema2 .container {}

    #tema2 .column_top {}

    #tema2 .column_topleft {
        max-width: 500px;
    }


    #tema2 .column_topright {
        margin: auto;
    }

    #tema2 .column_bottom {
        flex-direction: column;
    }

    #tema2 .column_middleleft {
        max-width: 500px;
    }

}

#tema2 .column_middle {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    flex-grow: 1;
    flex-basis: 200px;
    margin: 2vw 0 0 0;
    justify-content: space-between;
    background-color: #E1E6E9;
    border-radius: 1vw;
}

#tema2 .column_middleleft {
    padding: 2vw;
}

#tema2 .column_middleright {
    padding: 2vw;

}

#tema2 img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 6px;
    margin: 1vw;
    min-width: 400px;
    max-width: 500px;


}

#tema2 .column_bottom {
    display: flex;
    flex-wrap: wrap;
    background-color: #E1E6E9;
    border-radius: 1vw;
    justify-content: center;
    margin: 2vw;
    padding: 2vw;
    justify-content: space-between;

}

#tema2 .column_text {
    display: block;
    flex-wrap: wrap;
    flex-grow: 2;
    flex-basis: 200px;
    margin: 1vw;
    justify-content: space-between;
}

/*********** TEMA 3 ***************/

#tema3 .column_left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 1;
    flex-basis: 200px;
    justify-content: space-between;
    background-color: #E1E6E9;
    color: #5E7A8B;
    border-radius: 1vw;
}

#tema3 .text_box {
    padding: 2vw;
    max-width: 600px;
}

#tema3 .text_box2 {
    padding: 2vw;
    max-width: 600px;
}

#tema3 .column_images {
    padding: 2vw;
    min-width: 400px;
    max-width: 500px;

}

@media screen and (max-width: 800px) {
    #tema3 .container {
        flex-direction: column;
        justify-content: center;
    }

    #tema3 .column_sharing img {
        max-width: 50vw;

    }

    #tema3 .column_left .text_box {}
}

#tema3 .column_right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 1;
    flex-basis: 200px;
    margin: 1vw;
    background-color: #E1E6E9;
    color: #5E7A8B;
    border-radius: 1vw;
}

#tema3 .column_sharing {
    padding: 2vw;
    min-width: 400px;
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#tema3 .column_sharing img {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*********** TEMA 4 **************/

#tema4 .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-bottom: 1px solid #C3B299;
    background-color: #E1E6E9;
    color: #5E7A8B;
    border-radius: 1vw;

}

#tema4 .text_column {
    padding: 2vw;
    flex-grow: 2;
    flex-basis: 500px;
}

#tema4 .slide_column {
    width: 70%;
    margin: auto;
    flex-grow: 3;
    flex-basis: 300px;


}

#tema4 .slide_column img {
    flex-grow: 2;
    flex-basis: 300px;
    max-width: 400px;


}

#tema4 .image-left {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;



}

#tema4 .column {}





@media screen and (min-width: 800px) {
    #tema4 .container {
        flex-direction: row;
        justify-content: center;
    }

    #tema4 .slide_column img {}
}
