img {
    width: 100%;
}


section {
    max-width: 1200px;
    margin: 0 auto;

}

* {
    box-sizing: border-box;

}


body,
html {
    background-color: #DDE9E6;
    height: 100%;
    margin: 0;
}

h1 {
    color: #81AEAB;
    padding: 3vw 0 3vw 20vw;
    font-family: 'Poiret One', cursive;
    font-size: 10vw;
    border-bottom-style: solid;


}



h2 {
    font-family: 'Poiret One', cursive;
    color: #81AEAB;
    font-size: 6vw;
}

h3 {
    font-family: 'Raleway', sans-serif;
    color: #81AEAB;
    font-size: 4vw;

}

p {
    font-family: 'Raleway', sans-serif;
    color: #6A8F8C;
    font-size: 3.3vw;


}



@media screen and (min-width: 600px) {
    h2 {
        font-family: 'Poiret One', cursive;
        color: #81AEAB;
        font-size: 2vw;
    }

    h3 {
        font-family: 'Raleway', sans-serif;
        color: #81AEAB;
        font-size: 1.5vw;

    }

    p {
        font-family: 'Raleway', sans-serif;
        color: #6A8F8C;
        font-size: 1.2vw;


    }

}


/********** HEADER ************/

.myheader h1 {
    margin: 0;
    padding: 3vw 0 1vw 2vw;
    font-family: 'Poiret One', cursive;
    border-bottom-style: hidden;
    font-size: 6vw;
    text-shadow: 2px 2px 4px #FCFCFC;

}

.myheader h2 {
    font-family: 'Poiret One', cursive;
    text-shadow: 1px 1px 2px #FCFCFC;
    margin: 0;
    font-size: 3vw;
    padding: 0vw 0 0vw 2vw;
}

.myheader img {
    display: none;
}


.myheader {
    display: block;
    background-color: #BFD7D7;
    background-image: linear-gradient(#DDE9E6, #BFD7D7);
    height: 15vw;
    text-align: center;
}

@media screen and (min-width: 600px) {
    .myheader {
        height: 12vw;

    }

    .myheader .text-box {
        text-align: left;
    }

    .myheader h1 {
        font-size: 5vw;
        padding: 3vw 0 0 6vw;
    }

    .myheader h2 {
        font-size: 2vw;
        padding: 0 0 0 6vw;
    }

    .myheader figure {
        position: relative;
        left: 18vw;
        top: 5vw;
        width: 70%;
    }

    .myheader img {
        display: block;
        max-width: 50%;
    }


}

.myheader img {
    border-radius: 50%;
    width: 13%;
    position: relative;
    bottom: 15vw;
    left: 65vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/********* NAVBAR **********/

.show-menu {
    background-color: rgba(0, 0, 0, 0.5);
    color: #F4F4F1;
    border-radius: 5px;
    position: fixed;
    top: 2vw;
    right: 0;
    padding: 1px 9px;
    margin: 1vw;
    font-size: 35px;
    z-index: 1001;
    transition: 1s;
}

.hide-menu {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 1000;
    display: none;
    transition: 1s;
}

nav.menubar {
    background-color: rgba(70, 116, 112, 0.5);
    position: fixed;
    right: 1vw;
    top: 12.1vw;
    width: 50%;
    display: none;
    z-index: 1002;
    text-align: right;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 20px;
}

nav.menubar a {
    color: #F4F4F1;
    display: block;
    padding: 15px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    transition: 0.5s;

}

nav.menubar a:hover {
    background-color: #F4F4F1;
    color: #5E7A8B;
    border-color: #F7D08A;

}



#toggle-menu {
    display: none;
}

#toggle-menu:checked ~ nav.menubar {
    display: block;
}

#toggle-menu:checked ~ .hide-menu {
    display: block;
}


@media screen and (min-width: 600px) {

    .show-menu,
    .hide-menu {
        display: none;
    }



    nav.menubar {
        display: inline-block;
        position: absolute;
        padding: 0 2vw 0 0;
        width: 60%;
        top: 12vw;
        right: 20vw;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 20px;
        text-align: center;

    }


    nav.menubar a {
        display: inline-block;

    }

    nav.menubar li {}
}


/********** OM MIG **********/



#cv .container {
    display: flex;
    flex-direction: column;
    margin: 3vw;

}

#cv .column_left {
    background-color: #6A8F8C;
    padding: 2vw;
    flex-grow: 1;
    flex-basis: 200px;

}

#cv img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 60%;
    flex-grow: 3;
    flex-basis: 500px;
    border-style: solid;
    border-color: #FCFCFC;
}

#cv .text-box {
    background-color: #DDE9E6;
    color: #DDE9E6;
    max-width: 50%;
    max-width: 600px;
    flex-grow: 1;
    flex-basis: 300px;
    text-align: center;
    padding: 2vw;
}

#cv .list {
    padding: 5vw 0 0 25vw;

}

#cv li {
    padding: 2vw 0 1.5vw;
    font-family: 'Raleway', sans-serif;
    color: #FCFCFC;
}

#cv .list2 {
    background-color: #6A8F8C;
    text-align: center;
}

#cv .list2 p {
    padding: 1vw 0 0 2vw;
    color: #FCFCFC;

}

@media screen and (min-width: 800px) {
    #cv .container {
        flex-direction: row;
        justify-content: center;
        padding: 2vw 0 0 0;
    }

    #cv .list {
        padding: 0;
    }

    #cv .list2 {
        text-align: left;
        padding: 3vw;

    }

    #cv .list2 p {
        text-align: left;
        padding: 0;
        margin: 1vw;
        font-size: 1vw;
        font-family: 'Raleway', sans-serif;
        color: #FCFCFC;

    }
}




/******** TEMA 1 ************/

#tema1 .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-bottom: 1px solid #A0C4C2;
    padding: 0 0 5vw 0;


}

#tema1 .column_left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 2;
    flex-basis: 200px;
    margin: 1vw;

}



#tema1 .column_top {
    display: inline-block;
    flex-grow: 1;
    flex-basis: 400px;
    border: 2vw;
    padding: 0 3vw 2vw;
}

#tema1 .column_middle {
    flex-grow: 1;
    flex-basis: 300px;
    border-radius: 1vw;
    padding: 0 3vw 2vw;
    margin: 2vw;
}

#tema1 .column_bottom a {
    text-decoration: none;
    background-color: #BFD7D7;
    color: #FCFCFC;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: inline-block;
    border-radius: 2vw;
    max-width: 60vw;
    margin: 2vw;
    padding: 3vw;

}

#tema1 .column_bottom a:hover {
    text-decoration: none;
    background-color: #A0C4C2;
    color: #FCFCFC;


}

@media screen and (min-width: 800px) {

    #tema1 .column_bottom {
        display: flex;


    }

    #tema1 .column_bottom a {
        padding: 2vw;
        font-size: 1.1vw;

    }
}

#tema1 .column_bottom {
    flex-grow: 1;
    flex-basis: 200px;
    border-radius: 1vw;
    text-align: center;

}

#tema1 .column_slideshow {
    flex-grow: 2;
    flex-basis: 300px;
    border-radius: 1vw;
    border: 5vw;
    padding: 2vw;
    margin: 1vw;
    max-width: 500px;

}




.slideshow_photoshop {
    width: 100%;
    height: 0px;
    padding-bottom: 60%;
    position: relative;
    margin: 2vw;

}

.slideshow_photoshop img {
    position: absolute;
    animation: slideshow_animation 25s infinite;
    opacity: 0;
    width: 100%;
    height: auto;
    flex-grow: 1;
    flex-basis: 500px;
    max-width: 400px;

}

@keyframes slideshow_animation {
    25% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }
}

.slideshow_photoshop img:nth-child(1) {
    animation-delay: 0s;
}

.slideshow_photoshop img:nth-child(2) {
    animation-delay: 5s;
}

.slideshow_photoshop img:nth-child(3) {
    animation-delay: 10s;
}

.slideshow_photoshop img:nth-child(4) {
    animation-delay: 15s;
}

.slideshow_photoshop img:nth-child(5) {
    animation-delay: 20s;
}


.slideshow_ikon {
    width: 80%;
    padding-bottom: 70%;
    padding-left: 20%;
    position: relative;
    overflow: hidden;


}

.slideshow_ikon img {
    position: absolute;
    animation: slideshow_animation_mood 15s infinite;
    opacity: 1;
    width: 100%;
    height: auto;
    flex-grow: 1;
    flex-basis: 500px;
    max-width: 300px;


}

@keyframes slideshow_animation_mood {
    25% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }
}

.slideshow_ikon img:nth-child(2) {
    animation-delay: 5s;
}

.slideshow_ikon img:nth-child(1) {
    animation-delay: 10s;
}


/******** TEMA 2 *********/


#tema2 .container {
    border-bottom: 1px solid #A0C4C2;


}

#tema2 .column_top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

#tema2 .column_topleft {
    padding: 2vw;

}

#tema2 .column_topright {
    padding: 1vw;


}

#tema2 .column_topleft a {
    text-decoration: none;
    background-color: #BFD7D7;
    color: #FCFCFC;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: inline-block;
    border-radius: 2vw;
    max-width: 60vw;
    margin: 2vw;
    padding: 3vw;
}

#tema2 .column_topleft a:hover {
    text-decoration: none;
    background-color: #A0C4C2;
    color: #FCFCFC;
}

#tema2 .column_bottom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 1;
    flex-basis: 200px;
    justify-content: space-between;
    border-radius: 1vw;
    text-align: center;
}

#tema2 .column_bottomleft {
    padding: 2vw;
    max-width: 600px;
}

#tema2 .column_bottomright {
    padding: 2vw;
    max-width: 600px;
}




#tema2 .column_bottomleft a {
    text-decoration: none;
    background-color: #BFD7D7;
    color: #FCFCFC;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: inline-block;
    border-radius: 2vw;
    max-width: 60vw;
    margin: 2vw;
    padding: 3vw;

}

#tema2 .column_bottom a:hover {
    text-decoration: none;
    background-color: #A0C4C2;
    color: #FCFCFC;


}

#tema2 img {
    padding: 2px;
    margin: 1vw;
    min-width: 400px;
    max-width: 500px;


}


#tema2 .column_bottom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 1;
    flex-basis: 200px;
    border-radius: 1vw;

}



@media screen and (min-width: 800px) {
    #tema2 .column_topleft a {
        padding: 2vw;
        font-size: 1.1vw;
    }

    #tema2 .column_top {
        margin: 0;
    }

    #tema2 .column_topright {}


    #tema2 .column_topleft {
        max-width: 500px;
        text-align: center;

    }

    #tema2 .column_bottomleft {
        max-width: 600px;
        text-align: center;

    }

    #tema2 .column_bottomright {
        max-width: 600px;
    }

    #tema2 .column_topright {
        margin: auto;
    }

    #tema2 .column_bottom {}


    #tema2 .column_bottomleft a {
        padding: 1.5vw;
        font-size: 1.1vw;
        border-radius: 1vw;
        margin: 1vw;

    }


}



/*********** TEMA 3 ***************/

#tema3 .container {
    border-bottom: 1px solid #A0C4C2;
}

#tema3 .column_left {
    display: flex;
    border-radius: 1vw;
    border-radius: 1vw;

    padding: 0vw;
    margin: 0vw;
    flex-direction: column;



}

#tema3 .text_box {
    padding: 2vw;
    max-width: 700px;


}

#tema3 .text_box a {
    text-decoration: none;
    background-color: #BFD7D7;
    color: #FCFCFC;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: inline-block;
    border-radius: 2vw;
    max-width: 60vw;
    margin: 1vw;
    padding: 3vw;
    text-align: center;


}

#tema3 .linker {
    text-align: center;
}

#tema3 .text_box a:hover {
    text-decoration: none;
    background-color: #A0C4C2;
    color: #FCFCFC;
}

#tema3 .text_box2 {
    padding: 2vw;
    max-width: 600px;
}

#tema3 .column_images {
    width: 500px;
    margin-left: auto;
    margin-right: auto;

}

#tema3 .column_images img {
    width: 100%;
    height: auto;
    padding: 1vw;
}

@keyframes slide_ani {
    25% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }
}

#tema3 .column_images img:nth-child(2) {
    animation-delay: 0s;
}

#tema3 .column_images img:nth-child(1) {
    animation-delay: 5s;
}



#tema3 .column_right {}

#tema3 .column_left {}

#tema3 .column_sharing {
    padding: 2vw;
    width: 600px;
    overflow: hidden;
    position: relative;
}

#tema3 .column_sharing img {
    position: absolute;
    animation: slide_ani 10s infinite;
    opacity: 0;
    width: 100%;
    height: auto;
    right: 0;
}

#tema3 .bottom_links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#tema3 .bottom_links a {
    text-decoration: none;
    background-color: #BFD7D7;
    color: #FCFCFC;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: inline-block;
    border-radius: 1vw;
    max-width: 60vw;
    margin: 2vw;
    padding: 3vw;
}

#tema3 .bottom_links a:hover {
    text-decoration: none;
    background-color: #A0C4C2;
    color: #FCFCFC;
}

@media screen and (min-width: 800px) {
    #tema3 .container {
        justify-content: center;
    }

    #tema3 .column_sharing img {
        max-width: 50vw;

    }

    #tema3 .column_images {}

    #tema3 .column_images img {
        max-width: 600px;

    }

    #tema3 .column_left {
        flex-direction: row;

    }

    #tema3 .column_left .linker {}

    #tema3 .text_box a {
        padding: 2vw;
        border-radius: 2vw;
        margin: 0 0.8vw;
    }

    #tema3 .bottom_links a {
        padding: 2vw;
        border-radius: 2vw;
        margin: 1vw;
    }
}



/*********** TEMA 4 **************/

#tema4 .container {
    /*
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
*/
    border-bottom-style: 1px solid #A0C4C2;



}

#tema4 .column_tema4 {
    display: flex;
    flex-wrap: wrap;

}

#tema4 .text_column {
    padding: 2vw;
    max-width: 600px;
    text-align: center;
}

#tema4 .column_links a {
    text-decoration: none;
    background-color: #BFD7D7;
    color: #FCFCFC;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: inline-block;
    border-radius: 2vw;
    max-width: 60vw;
    margin: 2vw;
    padding: 3vw;
}

#tema4 .column_links a:hover {
    text-decoration: none;
    background-color: #A0C4C2;
    color: #FCFCFC;
}

#tema4 .img_column {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

#tema4 .last-column {
    display: flex;
    flex-wrap: wrap;
    padding: 5vw 0 5vw 0;
    /*    width: 100%;*/
}

#tema4 .last_links {
    flex-grow: 1;
    flex-basis: 200px;
    border-radius: 1vw;
    text-align: center;
}

#tema4 .last_links a {
    text-decoration: none;
    background-color: #BFD7D7;
    color: #FCFCFC;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: inline-block;
    border-radius: 2vw;
    max-width: 60vw;
    margin: 2vw;
    padding: 3vw;
}

#tema4 .last_links a:hover {
    text-decoration: none;
    background-color: #A0C4C2;
    color: #FCFCFC;
}

#tema4 .image-left {
    width: 300px;
    margin-left: auto;
    margin-right: auto;

}

#tema4 .text-right {
    padding: 2vw;
    max-width: 600px;
}


@media screen and (min-width: 800px) {
    #tema4 .last_links {
        display: flex;
    }

    #tema4 .column_links {
        display: flex;
    }

    #tema4 .last_links a {
        padding: 2vw;
        font-size: 1.1vw;
        margin: 3vw 1vw;
    }


    #tema4 .column_links a {
        padding: 2vw;
        font-size: 1.1vw;
    }

    #tema4 .last_column {}

    #tema4 .slide_column img {}
}
