img {
    width: 100%;
}


section {
    max-width: 1200px;
    margin: 0 auto;

}

* {
    box-sizing: border-box;

}

body,
html {
    background-color: #DDE9E6;
    height: 100%;
    margin: 0;
}

h1 {
    font-family: 'Dancing Script', cursive;
    text-shadow: 1px 1px 2px #6A8F8C;
    color: #DDE9E6;
    font-size: 9vw;

}

h3 {
    font-family: 'Tangerine';
    font-size: 6vw;
    color: #5E7A8B;
}

p {
    font-family: 'Open-Sans', sans-serif;
}


/********* FORSIDE / INDEX *********/

.text-box {}



/*Image background*/
.image-bg {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(billeder/portrait-mig.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 50%;
    margin: 0 10vw;
}

/*text over image */
.text-box {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 400px;

}

/*MENU*/

.hidden {
    /*transform: translateY(-100%);*/
    opacity: 0;
}

#menu_dropdown {
    display: inline-block;
    background-color: #BFD7D7;
    width: 25vw;
    text-align: center;
    padding: 2vw;
    position: absolute;
    top: 70%;
    left: 35%;
    border-radius: 2vw;
    box-sizing: border-box;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    color: #FCFCFC;

}


#drop-button {
    list-style-type: none;
    transition: 0.5s;
    position: absolute;
    top: 99vw;
    left: 28.5vw;
    background-color: #BFD7D7;
    box-sizing: border-box;
    padding-right: 5vw;
    padding-bottom: 5vw;
    padding-top: 1vw;
    border-radius: 0 0 1vw 1vw;
    font-family: 'Raleway', sans-serif;
    color: #FCFCFC;

}

#drop-button a {
    text-decoration: none;
    color: black;
    font-family: 'Raleway', sans-serif;
    color: #FCFCFC;
}

#drop-button a:hover {

    color: #6A8F8C;
    font-family: 'Raleway', sans-serif;

}

@media screen and (min-width: 600px) {
    .text-box {
        width: 100%;

    }

    .image-bg {
        border-radius: 0;
        width: 100%;
        margin: 0;
    }

    #menu_dropdown {
        width: 15vw;
        left: 45vw;
        font-size: 2vw;
    }

    #drop-button {
        top: 37vw;
        left: 45vw;
        width: 15vw;
        height: 10vw;

    }

    #drop-button a {
        padding: 1vw;
        font-size: 1.3vw;
    }



}
